html {
    
    font-family: 'Roboto', sans-serif;
    font-family: 'Syne Mono', monospace;
}

body{ 
    display: flex;
    flex-wrap: initial;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #151b29;
    background-color:#151b29 ;

}

h1 {
  
    font-size: xx-large;
    text-indent: 2em;
    margin-left: 1em;
    text-align: center;
    color: azure;
}

img{
    margin-top: 40px;
    text-align: center;
    max-width: 250px;
    max-height: 250px;
    border: 2px solid coral;
    
    border-radius:50%;
}

p{  font-size: larger;
    letter-spacing: 1px;
    color: #ffca45;
    font-family: "Roboto";
    text-align: center;
    margin-left: 2em;
    margin-top: 50px;
    padding: 2em;
    margin-right: 2em;


}

 button {
     border-radius: 2em;
     background: none;
     font-size: 1.2em;
     font-weight: 400;
     color: #ffca45;
     border: 2px solid;
     padding: 1em 2em;
     transition: all 0.21s;

 }

 button:hover {

     color: floralwhite;
     border-color: #f1ff5c;
     transform: 0, -2px;
     box-shadow: 0em 0.5em 0.5em -0.4em #f1ff5c;
     transform: translateY(-0.27em);
     cursor: pointer;
 }